<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chief-slider.css">
    <script src="/js/chief-slider.js"></script>
    <script src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>HackPlace</title>
</head>

<body>
    <header class="header-conteiner">

        <div class="header-conteiner-Logo">
            <a href="/">
                <img class="header-conteiner-LogoName__Logo" src="img/logo1.png">
            </a>
        </div>

        {{#if index}}
        <nav class="header-conteiner-menu">

            <div class="header-conteiner-menu__link">
                <a href="#faq">FAQ</a>
            </div>

            <div class="header-conteiner-menu__link">
                <a href="#top">TOP-events</a>
            </div>

            <div class="header-conteiner-menu__link">
                <a href="#history">история</a>
            </div>

            <div class="header-conteiner-menu__link">
                <a href="#about">о нас</a>
            </div>

            <div class="header-conteiner-menu__link">
                <a href="#invest">наши спонсоры</a>
            </div>

            <div class="header-conteiner-menu__link">
                <a href="#contacts">контакты</a>
            </div>

            {{/if}}
        </nav>
        <img class="header-conteiner__login" src="/img/login.svg" alt="" onclick="toggleDropdown()">
    </header>
    {{#if user._id}}
    <div class="conteiner">
        <div class="dropdown-user">

        </div>
        <a href="/logout">Выйти</a>
    </div>
    {{else}}
    <form class="conteiner" method="POST" action="/login">
        <label class="conteiner__login">Логин<input type="text" name="login"></label>
        <label class="conteiner__password">Пароль<input type="password" name="password"></label>
        <div class="conteiner__btn"><button type="submit">Войти</button></div>
        <a class="conteiner__link" href="/register">нет аккаунта? зарегистрируйтесь!</a>
    </form>
    {{/if}}
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        Все права защищены<br>2021
    </footer>
</body>

</html>