<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box">
        <p class="box__text">Создание мероприятия</p>
    </div>

    <form class="form-conteiner" action="">

        <label class="form-conteiner__name" for="">Наименование предприятия
            <input type="text">
        </label>

        <label class="form-conteiner__about" for="">Описание мероприятия(до 400 символов)
            <textarea rows="8" cols="35"></textarea>
        </label>

        <label class="form-conteiner__stek" for="">Стек технологий:
            <input type="text">
        </label>

        <label class="form-conteiner__geo" for="">Место и дата проведения:
            <input placeholder="место проведения" type="text">
            <input placeholder="дата проведения" type="text">
        </label>

        <select class="form-conteiner__level" for="">Уровень допускаемых участников:
            <option value="1">Junior</option>
            <option value="2">Middle</option>
            <option value="3">Senior</option>
        </select>

        <label class="form-conteiner__online" for=""> Можно ли учавствовать онлайн:
            <input type="checkbox" name="" id="">
        </label>

        <label class="form-conteiner__age" for=""> Можно ли учавствовать несовершеннолетним:
            <input type="checkbox" name="" id="">
        </label>

       <div class="wrapper">
           <button class="wrapper__create" type="submit">Создать</button>
        </div> 
        
    </form>
</body>
</html>