<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1440">
	<title>HackSpace</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="content">
		<div class="user-is">
			<span class="user-is__text">
				участник
			</span>
		</div>
		<div class="spaces">
			<div class="login">
				<span class="login__login-text">Логин:</span> <br>
				<input type="text" class="login__login-input">
			</div>
			<div class="pass">
				<span class="pass__text">Пароль:</span> <br>
				<input type="password" class="pass__input">
			</div>
			<div class="user-name">
				<span class="user-name__text">Ваше ФИО:</span> <br>
				<input type="text" class="user-name__input">
			</div>
			<div class="email">
				<span class="email__text">Почта:</span> <br>
				<input type="text" class="email__input">
			</div>
			<div class="user-level">
				<span class="user-level__text">Уровень участника:</span> <br>
				<select name="level" class="user-level__selector">
					<option value="junior">junior</option>
					<option value="middle">middle</option>
					<option value="senior">senior</option>
				</select>
			</div>
			<div class="social-net">
				<span class="social-net__text">Ссылка на соц. сеть(вк или телеграм):</span> <br>
				<input type="link" class="social-net__input">
			</div>
			<div class="link-to-git">
				<span class="link-to-git__text">Ссылка на ваш Github:</span> <br>
				<input type="link" class="link-to-git__input">
			</div>
			<div class="stack">
				<span class="stack__text">Ваш стек технологий:</span> <br>
				<input type="text" class="stack__input">
			</div>
			<div class="amount-of-hacks">
				<span class="amount-of-hacks__text">В скольких хакатогах вы принимали участие:</span> <br>
				<input type="number" class="amount-of-hacks__input">
			</div>
		</div>
		<button class="conflirm">Подтвердить</button>
	</div>
</body>
</html>