<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HackSpace</title>
	<link rel="stylesheet" href="css/style2.css">
</head>
<body>
	<div class="content">
		<div class="user-is">
			<span class="user-is__text">
				организатор
			</span>
		</div>
		<div class="spaces">
			<div class="login">
				<span class="login__login-text">Логин:</span> <br>
				<input type="text" class="login__login-input">
			</div>
			<div class="pass">
				<span class="pass__text">Пароль:</span> <br>
				<input type="password" class="pass__input">
			</div>
			<div class="user-name">
					<span class="user-name__text">ФИО представителя:</span> <br>
				<input type="text" class="user-name__input">
			</div>
			<div class="company">
				<span class="company__text">Компания:</span> <br>
				<input type="text" class="company__input">
			</div>
			<div class="company-site">
				<span class="company-site__text">Сайт компании:</span> <br>
				<input type="text" class="company-site__input">
			</div>
			<div class="amount-of-staff">
				<span class="amount-of-staff__text">Количество сотрудников:</span> <br>
				<input type="link" class="amount-of-staff__input">
			</div>
			<div class="main-office">
				<span class="main-office__text">Офис компании:</span> <br>
				<select name="#" class="main-office__selector">
					<option>Выбрать город</option>
					<option>Краснодар</option>
					<option>Москва</option>
					<option>Ростов-на-Дону</option>
					<option>Таганрог</option>
					<option>Другой</option>

				</select>
			</div>
			<div class="stack">
				<span class="stack__text">Стек компании:</span> <br>
				<input type="text" class="stack__input">
			</div>
		</div>
		<button class="conflirm">Подтвердить</button>
	</div>		
</body>
</html>