<link rel="stylesheet" href="/css/form.css">
<div class="content">
    <form class="spaces" id="members" method="POST" action="">
        <div class="user-is">
            <span class="user-is__text">
                Участник
            </span>
        </div>
        <div class="switch" onclick="setForm()">Я организатор</div>
        <div class="login">
            <span class="login__login-text">Логин:</span> <br>
            <input type="text" class="login__login-input" name="login">
        </div>
        <div class="pass">
            <span class="pass__text">Пароль:</span> <br>
            <input type="password" class="pass__input" name="password">
        </div>
        <div class="user-name">
            <span class="user-name__text">Ваше ФИО:</span> <br>
            <input type="text" class="user-name__input" name="name">
        </div>
        <div class="email">
            <span class="email__text">Почта:</span> <br>
            <input type="text" class="email__input" name="email">
        </div>
        <div class="user-level">
            <span class="user-level__text">Уровень участника:</span> <br>
            <select name="level" class="user-level__selector" name="level">
                <option value="1">Junior</option>
                <option value="2">Middle</option>
                <option value="3">Senior</option>
            </select>
        </div>
        <div class="social-net">
            <span class="social-net__text">Ссылка на соц. сеть(вк или телеграм):</span> <br>
            <input type="link" class="social-net__input" name="socialLink">
        </div>
        <div class="link-to-git">
            <span class="link-to-git__text">Ссылка на ваш Github:</span> <br>
            <input type="link" class="link-to-git__input" name="githubLink">
        </div>
        <div class="stack">
            <span class="stack__text">Ваш стек технологий:</span> <br>
            <input type="text" class="stack__input" name="stack">
        </div>
        <div class="amount-of-hacks">
            <span class="amount-of-hacks__text">В скольких хакатонах вы принимали участие:</span> <br>
            <select type="number" class="amount-of-hacks__input" name="hacksCount">
                <option value="1-2">0</option>
                <option value="1-2">1-2</option>
                <option value="3-5">3-5</option>
                <option value="6-10">6-10</option>
            </select>
        </div>
        <button class="conflirm" type="submit">Зарегистрироваться</button>
    </form>


    <form class="spaces hide" id="organizers" method="POST">
        <div class="user-is">
            <span class="user-is__text" onclick="setForm(0)">
                Организатор
            </span>
        </div>
        <div class="switch" onclick="setForm()">Я участник</div>
        <div class="login">
            <span class="login__login-text" id="login">Логин:</span> <br>
            <input type="text" class="login__login-input" name="login">
        </div>
        <div class="pass">
            <span class="pass__text" id="password">Пароль:</span> <br>
            <input type="password" class="pass__input" name="password">
        </div>
        <div class="user-name">
            <span class="user-name__text" id="contact" >ФИО представителя:</span> <br>
            <input type="text" class="user-name__input" name="contact">
        </div>
        <div class="company">
            <span class="company__text" id="company">Компания:</span> <br>
            <input type="text" class="company__input" name="company">
        </div>
        <div class="company-site">
            <span class="company-site__text">Сайт компании:</span> <br>
            <input type="text" class="company-site__input" name="site">
        </div>
        <div class="amount-of-staff">
            <span class="amount-of-staff__text" id="">Количество сотрудников:</span> <br>
            <select class="amount-of-staff__input" name="size">
                <option value="1-4">1-4</option>
                <option value="5-20">5-20</option>
                <option value="21-100">21-100</option>
                <option value=">100">>100</option>
            </select>
        </div>
        <div class="main-office">
            <span class="main-office__text">Офис компании:</span> <br>
            <select name="#" class="main-office__selector" name="city">
                <option>Выбрать город</option>
                <option>Краснодар</option>
                <option>Москва</option>
                <option>Ростов-на-Дону</option>
                <option>Таганрог</option>
                <option>Санкт-Петербург</option>

            </select>
        </div>
        <div class="stack">
            <span class="stack__text">Стек компании:</span> <br>
            <input type="text" class="stack__input" name="stack">
        </div>
        <button class="conflirm" type="submit">Зарегистрироваться</button>
    </form>
</div>