<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="containerUser">
        <img class="containerUser__login" src="img/login.svg" alt="">
        <div class="containerName">
            <p class="containerName__name">user name</p>
            <img onclick="edit()" class="containerName__siting"  src="img/sit.svg" alt="">
        </div>
        <form>
            <table data-edit="0">
                <tbody>
                    <tr>
                        <td>Уровень :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка на GitHub :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка на GitHub :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка на соц. сеть :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Стек разработки :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка на соц. сеть :</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>